/* Document settings */

@import 'template';

$darkBlue: #043A88;
$subtleGrey: #b4cee0;

@mixin header-style($fontSize) {
    font-size: $fontSize;
    white-space: nowrap;
    line-height: 80%;
}

body {
    color: $darkBlue;
}

section {
    display: grid;
    gap: 0.8em;

    h1 {
        font-family: 'Droid Serif', sans-serif;
        font-weight: bold;
        @include header-style(400%);
    }

    h2 {
        text-transform: uppercase;
        letter-spacing: 0.2em;
        @include header-style(130%);
    }

    span {
        display: flex;
        flex-direction: row;
        gap: 2em;

        a {
            color: $subtleGrey;
            letter-spacing: 0.1em;

            &:hover {
                color: $darkBlue;
            }
        }
    }
}

#copyright {
    @include select-none;
    display: none;
    // position: absolute;
    // bottom: 0;
    // right: 0;
    // opacity: 0.3;
}

/* Viewport configurations */

@media screen and (max-width: 420px) {
    html,
    body {
        font-size: 12px;
    }

    h1, h2 {
        word-wrap: normal;
    }
}

// iPhone X and Samsung Devices
// @media(hover: hover) and (pointer: fine) {
//     #buttons .button:hover {
//         background: #9394CC;
//         color: #FFFFFF;
//     }
// }