@import url('droid-serif/stylesheet.css');
@import url('inter/stylesheet.css');

$blueBg: #E3F3FD;
$selectionBg: #e7c83f;
$selectionFg: #292558;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 24px;

    ::-webkit-scrollbar {
        display: none;
    }

    ::selection {
        color: $selectionFg;
        background: $selectionBg;
    }

    html {
        background: #434343;
    }

    body {
        background: $blueBg;
    }
}

@mixin select-none {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}